{% extends 'main_base.html' %}
{% load mathfilters %}

{% block title %}
Your Bill | Bonilla Banking
{% endblock title %}

{% block header %}
Your Bill
{% endblock header %}

{% block description %}
View all details of your upcoming bill.
{% endblock description %}

{% block content %}

{% if messages %}
     {% for message in messages %}
         <div class="text-center alert alert-{{ message.tags }}">
             {{ message|safe }}
         </div>
     {% endfor %}
 {% endif %}

<div class="card">
    <div class="card-content">
        <form action="{% url 'main:view-bill' pk=bill.pk %}" method="POST">
            {% csrf_token %}
            <p class="fs-2 pt-3 pb-2">
                Bill Details
            </p>

            <div class="row fw-bold fs-4 pt-3">
                <div class="col-3">
                    Scheduled Date
                </div>

                <div class="col-3">
                    Account
                </div>

                <div class="col-3">
                    Merchant
                </div>

                <div class="col-3">
                    Amount ($)
                </div>
            </div>

            <div class="row fs-5 pt-1">
                <div class="col-3">
                    {{ bill.scheduled_date }}
                </div>

                <div class="col-3">
                    {{ bill.account }}
                </div>

                <div class="col-3">
                    {{ bill.destination }}
                </div>

                <div class="col-3">
                    <span class="text-danger">-${{ bill.amount }}</span>
                    <br><div class="text-muted fw-bold">${{ balance|sub:bill.amount }}</div>
                </div>

            </div>

            <hr>

            <div class="row fw-bold fs-4 pt-3">
                <div class="col-3">
                    Bill Created Date
                </div>

                <div class="col-9">
                    Description
                </div>
            </div>

            <div class="row fs-5 pt-1">
                <div class="col-3">
                    {{ bill.date_created }}
                </div>

                <div class="col-9">
                    {{ bill.description }}
                </div>
            </div>

                <p class="pt-3">
                    <a class="waves-effect waves-light btn btn-outline-danger modal-trigger" href="#modal1">Cancel Bill</a>
                </p>
            </ul>

            <div id="modal1" class="modal model-fixed-footer">
                <div class="modal-content">
                  <h4>Are you sure?</h4>
                  <p>Once you delete this bill, it will no longer exist.</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn btn-outline-warning">Go Back</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" class="waves-effect btn btn-outline-danger">Cancel Bill</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
});
</script>
{% endblock scripts %}